*{
	font-family: 'Poppins', sans-serif, Verdana;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper-flex{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-card{
    overflow: hidden;
	box-shadow: 0px 2px 8px 0px rgba(211, 211, 211, 0.664);
	background-color: white;
	text-align: center;
	border-radius: 1rem;
	position: relative;
	width: 280px;
	margin-bottom: .5rem;
	margin-left: .5rem;
}